/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
    .main{position: unset !important;}
    .part1{text-align: center !important;}
    .upperHeader{display: block !important; width: 100% !important; padding: 10px 0px !important;}
    .upperHeader p{color: #fff !important; line-height: unset !important; font-size: 12px !important; margin-top: 5px !important; margin-bottom: 0px !important;}
    .col.col-sm-m{position: absolute !important; top:1% !important; left: 0% !important; right: 0% !important;}
    .row-flex-end{justify-content: center !important;}
    .row-flex-end img{width: 40% !important;}
    .main-nav{padding-top: 20px !important;}
    .main-nav li{ width: 100% !important; display: block !important; margin: 0px !important;}
    .main-nav li a{color: #000 !important;}

    .part2, .part3, .part4, .part5{padding: 10px 10px !important; border-top: 1px solid #ebc00f !important;}
    .part2 p{font-size: 1rem !important; text-align: center !important; line-height: unset !important;}
    p.wiseInvestment{ color: red !important; font-size: 18px !important;}


    .part3{padding: 20px 10px !important;}
    .part3 .row{ display: block !important;}
    .part3 .row .letterDomains{ width: 100% !important; text-align: center !important; padding: 10px !important;}
    .DomainDetails{padding: 10px 0px !important;}
    .letterDomains a{padding: 0px !important; margin: 5px 0px 10px 0px !important;}
    .letterDomains .col{ text-align: center !important; display: block !important;}
    .DomainDetails p{color: #000 !important;}
    .part4{text-align: center !important;}
    .part4 .row{ flex-direction: column !important;}
    .part4 .row .one{ width: 100% !important;}
    .part4 p{margin: 0px !important; line-height: unset !important; font-size: 1rem !important;}
    p.smallYelllow{font-size: 10px !important;}
    .twocards{padding-top: 20px !important; width: 100% !important;}
    .twocards form{width: 100% !important; text-align:center !important;}
    .twocards input { width: 50% !important; border: 1px solid #ccc !important}
    p.boldyellow{padding: 10px 0px !important;}
    .twocards select{border: 1px solid #ccc !important;}
    .part5{ width: 100% !important; display: block !important; background: transparent !important;}
    .sixInputs{ border: 3px solid #000 !important;}
    .part5 form#yellowForm{ width: 100% !important; display: block !important;}
    .part5 .flex{ display: block !important;}
    .part5 .ThreeInputDivs{ display: block !important; width: 100% !important;}
    .sixInputs input{ width: 100% !important;}
    button.bigSubmit{ display: none !important;}
    .btn-smalldevice{ display: block !important; width: 100% !important; padding: 10px !important; background-color:  #f7f7f7; border: 1px solid #000; outline: none !important;margin-top: 10px;}
    .part6{ padding: 0px 10px !important;}
    .part6 .row{flex-direction: column !important;}
    .missionStat{padding: 0px !important;}
    .cardone{width: 100% !important;}
    .cardone p{margin: 5px 0px !important; text-align: center !important;}
    .cardtwo{padding: 10px !important; width: 100% !important; text-align: center !important;}
    .cardtwo img{ width: 30% !important;}
    .part7{padding: 20px 10px !important;}
    .part7 .row{ flex-direction: column !important; text-align: center !important;}
    .domainCat{width: 100% !important; padding: 0px !important;}
    .monthly{ width: 100% !important; text-align: center !important;    padding: 10px 0px !important;}
    .monthly img{ width: 50%; margin: 0px !important; padding: 0px !important;}
    .extensiveDiv{padding: 10px 0px !important;}
    p.boldyellow{font-size: 18px !important; line-height: unset !important; margin: 0px !important;color: red !important;}
    .formDiv button{width: 16% !important;height: 40px !important; padding: 0px !important;}
    .formDiv select{width: 25% !important;height: 40px !important;}
    .formDiv input{width: 59% !important; height: 40px !important; padding: 0px 15px !important;}
    .part8{ padding: 0px 10px !important;}
    .part8 .row{flex-direction: column !important;}
    .smallcards{width: 100% !important; padding: 10px 0px !important; margin: 0px !important;}
    .part9{ padding: 20px 10px !important;}
    .bottomlinks{text-align: center !important;}
    .bottomlinks a{font-size: 7px !important; color: #fff !important; padding-right: 0px !important;}
    .bottomlinks span{padding: 0px 3px !important;}
    .part9 .row{ flex-direction: column !important; width: 100% !important;}
    .part9 .row p{ text-align: center !important; margin: 0px !important; font-size: 7px !important; margin: 5px 0px !important;}

}

@media only screen 
and (min-width : 481px) 
and (max-width : 767px){
    .main{position: unset !important;}
    .row.upperHeader{ width: 100% !important;}
    .col.col-sm-m{position: absolute !important; top: 3% !important; left: 0% !important; right: 0% !important; text-align: center !important;}
    .row.upperHeader .col{ display: block !important; width: 100% !important;}
    .upperHeader{padding: 15px 0px !important;}
    .col.col-sm-m p{color: #fff !important;}
    .row-flex-end{justify-content: space-around !important;}
    .main-nav{padding: 10px 0px !important;}
    .main-nav li{ display: block !important; width: 100% !important; margin: 0px !important; text-align: center !important;}
    
    .part2{padding: 0px 10px !important; text-align: center !important;}
    p.wiseInvestment{font-size: 2rem !important; margin: 0px !important; padding: 0px !important;}
    p.quoteP{font-size: 14px !important; margin: 0px !important;}
    .part3{padding-top: 20px !important; padding-left: 10px !important; padding-right: 10px !important;}
    .letterDomains img{width: 100% !important;}
    .DomainDetails{padding:10px 0px !important;}
    .DomainDetails p{color:gray !important; text-align: center !important; margin: 0px !important;}
    .letterDomains a {text-align: center !important; padding: 20px 0px !important;}
    .part4{padding-top: 0px !important;}
    .part4 .row{flex-direction: column !important; text-align: center !important;}
    .one{width: 100% !important;}
    .part4 input{width: 60% !important; border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; border-left: 2px solid #000 !important;}
    .part4 select{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; background: transparent !important;}
    .part4 button{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; border-right: 2px solid #000 !important;}
    .part5{background: transparent !important;}
    form#yellowForm{ width: 100% !important; padding: 0px 10px !important;}
    form#yellowForm .flex{flex-direction: column !important;}
    .sixInputs {width: 100% !important;}
    .ThreeInputDivs{padding: 0px !important; width: 100% !important;}
    .ThreeInputDivs input{width: 100% !important;}
    button.bigSubmit{display: none !important;}
    .btn-smalldevice{ display: block !important; width: 100% !important; padding: 10px !important; background-color:  #f7f7f7; border: 1px solid #000; outline: none !important;margin-top: 10px; margin-bottom: 10px !important;}
    .part6{padding: 0px 10px !important;}
    .missionStat{padding: 0px !important;}
    .cardtwo{ padding: 0px !important; width: 25% !important; text-align: center !important;margin-top: 25% !important;}
    .cardtwo img{width: 100% !important;}
    .cardone{ width: 75% !important; text-align: justify !important; padding: 20px !important;}
    .smallYelllow{margin-bottom: 32px !important;}
    .part7{padding: 20px 10px !important;}
    p.verysmall{width: 80% !important; margin: auto !important; padding-bottom: 20px !important;}
    .part7 .row{ flex-direction: column !important;}
    .domainCat{padding-right: 0px !important; width: 100% !important; text-align: center !important;}
    .domainCat .row{ flex-direction: row !important; text-align: center !important; justify-content: space-around !important;}
    .monthly{width: 100% !important; text-align: center !important;}
    .monthly img{margin-left: 0px !important; padding: 0px !important; width: 40% !important;}
    .part7 form{ width: 100% !important; text-align: center !important;}
    .extensiveDiv{ padding: 20px 0px !important;}
    p.boldyellow{margin: 20px 0px !important; font-size: 20px !important; line-height: unset !important;}
    .formDiv{width: 80% !important; margin: auto !important;}
    .formDiv button {width: 15% !important; height: 50px !important; padding: 10px !important;}
    .formDiv select {width: 20% !important; height: 50px !important; background: #fff !important;}
    .formDiv input {width: 65% !important; height: 50px !important;}
    .part8{ width: 100% !important;padding: 0px 20px !important;}
    .part8 .row{ flex-wrap: wrap !important;}
    .part8 .smallcards{ width: 50% !important; padding: 0px 10px !important; margin: 20px 0px 10px 0px !important;}
    .part9{padding: 10px 10px !important;}
    .bottomlinks{width: 100% !important; margin: auto !important; text-align: center !important;}
    .bottomlinks a {font-size: 12px !important; padding-right: 0px !important;}
    .bottomlinks span{padding: 0px !important;}
    .part9 .row{ flex-direction: column !important; text-align: center !important;}
}

/* Tablets, iPads ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    .main{position: unset !important;}
    .part1{padding: 20px 10px ! important; position: absolute !important; top: 0 !important; right: 0% !important; left: 0% !important; text-align: center !important;}
    .upperHeader{padding: 0px !important;}
    .row.upperHeader { flex-direction: column;}
    .col.col-sm-m{text-align: center !important;}
    .row-flex-end{justify-content: space-around !important;}
    .main-nav li a{color: #fff !important;font-size: 13px !important;}
    .part2{padding: 0px 10px !important; position: absolute !important; top: 12% !important;}
    p.wiseInvestment{font-size: 35px !important; line-height: unset !important;}
    p.quoteP {font-size: 18px !important; margin: 10px 0px !important;}
    .part3{padding: 20px 10px !important; background-color: wheat !important;}
    .DomainDetails{padding-top: 20px !important;}
    .DomainDetails p{ color: #000 !important;}
    .letterDomains .col{ text-align: justify !important;}
    .letterDomains a{padding-bottom: 0px !important;}
    .part4{padding: 20px 10px !important;}
    .part4 .row{ justify-content: space-around !important;}
    .twocards.one .col{text-align: center !important;}
    p.boldyellow{line-height: unset !important; margin: 0px !important;}
    .part4 p{margin-top: 10px !important;}
    p.boldyellow{text-align: center !important;}
    .twocards input{width: 55% !important;}
    .part4 form{padding-top: 70px !important; margin: 0px !important;}
    .part4 input{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; border-left: 2px solid #000 !important;}
    .part4 select{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; background: transparent !important;}
    .part4 button{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; border-right: 2px solid #000 !important;}
    /* .part5{padding: 20px 10px !important; background: transparent !important;}
    form#yellowForm{width: 100% !important;}
    .sixInputs{width: 80% !important;} */
    /* button.bigSubmit{width: 20% !important;}
    button.bigSubmit img{width: 100% !important; height: 128px !important;} */
    .part5{width: 100% !important; padding: 20px !important;}
    .part5 form#yellowForm{width: 100% !important;}
    .sixInputs {width: 100% !important;}
    .ThreeInputDivs{width: 100% !important;}
    .ThreeInputDivs > div{ width: 33% !important;}
    input.d3d{width: 100% !important;}

    .part6{padding: 0px 10px !important;}
    .missionStat{padding: 0px !important;}
    .cardtwo{ padding: 0px !important; width: 25% !important; text-align: center !important; margin-top: 10% !important;}
    /* .cardtwo img{width: 100% !important;} */
    .cardtwo img{width: 60% !important;}
    .cardone{ width: 75% !important; text-align: justify !important; padding-right: 30px !important;}
    .smallYelllow{margin-bottom: 32px !important;}
    .part7{padding: 20px 20px !important;}
    .part7 form{ width: 100% !important; text-align: center !important;}
    .domainCat{padding-right: 50px !important;}
    .extensiveDiv{ padding: 20px 0px !important;}
    p.boldyellow{margin: 20px 0px !important;}
    .monthly img{margin-left: 0px !important;}
    .formDiv{width: 80% !important; margin: auto !important;}
    .formDiv button {width: 15% !important; height: 50px !important; padding: 10px !important;}
    .formDiv select {width: 20% !important; height: 50px !important; background: #fff !important;}
    .formDiv input {width: 65% !important; height: 50px !important;}
    .part8{ width: 100% !important;}
    .part8 .row{ flex-wrap: wrap !important;}
    .part8 .smallcards{ width: 50% !important; padding: 0px 25px !important; margin: 20px 0px 10px 0px !important;}
    .part9{text-align: center !important;}
    .part9 .row{justify-content: space-around !important;}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) and (max-width:1169px) {
    .main{position: unset !important;}
    .part1{padding: 20px 10px ! important; position: absolute !important; top: 0 !important; right: 0% !important; left: 0% !important; text-align: center !important;}
    .upperHeader{padding: 0px !important;}
    .row.upperHeader { flex-direction: column;}
    .col.col-sm-m{text-align: center !important;}
    .row-flex-end{justify-content: space-around !important;}
    .main-nav li a{color: #fff !important;font-size: 18px !important;}
    .part2{padding: 0px 10px !important; position: absolute !important; top: 12% !important;}
    p.wiseInvestment{font-size: 35px !important; line-height: unset !important;}
    p.quoteP {font-size: 18px !important; margin: 10px 0px !important;}
    .part3{padding: 20px 10px !important; background-color: wheat !important;}
    .DomainDetails{padding-top: 20px !important;}
    .DomainDetails p{ color: #000 !important;}
    .letterDomains .col{ text-align: justify !important;}
    .letterDomains a{padding-bottom: 0px !important;}

    .part4{padding: 20px 10px !important;}
    .part4 .row{ justify-content: space-around !important;}
    .twocards.one .col{text-align: center !important;}
    p.boldyellow{line-height: unset !important; margin: 0px !important;}
    .part4 p{margin-top: 10px !important;}
    p.boldyellow{text-align: center !important;}
    .twocards input{width: 55% !important;}
    .part4 form{padding-top: 70px !important; margin: 0px !important;}
    .part4 input{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; border-left: 2px solid #000 !important;}
    .part4 select{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; background: transparent !important;}
    .part4 button{ border-top: 2px solid #000 !important; border-bottom: 2px solid #000 !important; border-right: 2px solid #000 !important;}

    .part5{width: 100% !important; padding: 20px !important;}
    .part5 form#yellowForm{width: 100% !important;}
    .sixInputs {width: 100% !important;}
    .ThreeInputDivs{width: 100% !important;}
    .ThreeInputDivs > div{ width: 33% !important;}
    input.d3d{width: 100% !important;}
    
    .part6, .part7, .part8{width: 100% !important; padding: 0px 30px !important;}
    .part9{text-align: center !important;}
    .part9 .row{justify-content: space-around !important;}
}


/* iPhone 4 -----------
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}*/*/