body{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}
*{box-sizing: border-box;}
ul{margin: 0px; padding: 0px;}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-spaceAround{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.row-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.container{ max-width: 1170px; margin: auto;}
img#bannerImage {
    width: 100%;
}
.mainBanner{position: relative;}
.main {
    position: absolute;
    top: 0;
    max-width: 1170px;
    margin: auto;
    left: 0%;
    right: 0%;
}
/* -------------------------------------------------------------- */
.upperHeader{padding: 25px 0px;}
p.dialoge{
    font-family: 'Open Sans', sans-serif;
    font-size: 15.09px;
    line-height: 24.63px;
    color: #252523;
    font-style: italic;
    margin-top: 0px;
}
.blacklogos img:last-child{padding-right: 0px;}
.main-nav li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 15px;
    border-radius:3px;
    border: none;
    outline: none;
    margin-top: 20px;
}
.main-nav li:hover{background-color:#ebc00f;}
.main-nav li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.main-nav ul{
    padding: 0px;
    margin: 0px;
}
.slogan{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #252523;
}
.blacklogos img{padding-right: 20px;}
/* -------------------------------------------------- */
.part2, .part3{padding-top: 70px;}
p.wiseInvestment{
    font-family: 'fontin_sansbold';
    font-size: 45px;
    font-weight: bold;
    line-height: 48px;
    color: #252523;
    margin: 5px 0px 0px 0px;
    text-transform: capitalize;
    text-shadow: 2px 0px 1px #fff;
}
p.quoteP{
    font-family: 'fontin_sansregular';
    font-size: 20px;
    line-height: 29.63px;
    color: #252523;
    text-shadow: 2px 0px 1px #fff;
    text-transform: capitalize;
}

/* ------------------------------------------------------- */
.part3{border-bottom: 1px solid #ebc00f;}
.DomainDetails p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    margin-top: 0px;
}
.letterDomains{ width: 31%;}
.letterDomains img{ width: 70%;}
.letterDomains a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ebc00f;
    text-shadow: 1px 0px 0px #0000;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 45px;
}
.DomainDetails{padding-top: 40px;}
/* -------------------------------------------------------------- */
.part4{padding-top: 45px;}
.one{ width: 45%;}
p.boldyellow{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 16px;
    color: #ebc00f;
    text-transform: capitalize;
}
#succesStars{padding-top: 0px;}
.twocards input {
    padding: 0px 15px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 30px 0px 0px 30px;
    height: 52px;
}
.twocards select {
    padding: 0px 15px;
    border: none;
    outline: none;
    margin: -4px;
    height: 52px;
    color: #ccc;
}
.twocards button {
    outline: none;
    border: none;
    vertical-align: top;
    height: 52px;
    background-color: #ebc00f;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0px;
}

/* .twocards button img {
    width: 90%;
    height: 50px;
} */
p.smallYelllow{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ebc00f;
    text-shadow: 1px 0px 0px #0000;
    text-decoration: none;
    text-transform: uppercase;
}
/* --------------------------------------------- */
.part5{background: linear-gradient(to bottom,  #000 0%,#000 50%,#0f0f0f 50%,#0f0f0f 100%);} /* very imp */
.sixInputs {
    background-color: #ebc00f;
}
.sixInputs input {
    padding: 0px 10px;
    height: 35px;
    border:none;
    outline: none;
}
.ThreeInputDivs > div{padding: 10px;}
form#yellowForm{margin: 0px;width: 72%;}
.TwoInputDivs {
    width: 100%;
    display: flex;
}
.ThreeInputDivs {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
input.smallInputs{
    width: 100%;
    border:none;
    outline: none;
}
.TwoInputDivs > div{ width: 100%;}

.TwoInputDivs div:first-child{padding-right: 20px;}
button.bigSubmit{
    border: none;
    outline: none;
    background: transparent;
}
.btn-smalldevice{ display: none;}
/* button.bigSubmit img{ height: 100%;} */
/* --------------------------------------------- */
.part6{ background-color: #0f0f0f;}
.BoldP{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #525a7b;
}
p.small{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #525a7b;
    text-transform: uppercase;
}
.verysmall{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 25px;
    color: #525a7b;
}
.cardone{width: 70%;}
.missionStat{ padding: 50px 0px;}
.cardtwo{padding-top: 60px;}
/* ------------------------------------------ */
.part7 {
    background-color: #191a20;
    padding-top: 50px;
}
p.yellowmedium{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21.37px;
    color:#ebc00f;
    text-transform: uppercase;
}
.part7 li{ list-style-type: none;}
.part7 a{ text-decoration: none; text-transform: uppercase;}
.domainCat{width: 50%; padding-right: 80px;}
.monthly{width: 50%;}
.monthly img {
    margin-left: 100px;
    padding-top: 50px;
}

.part7 form{ margin:0px;}
.extensiveDiv {
    width: 100%;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
}
.formDiv {
    border-left: 10px solid #000;
    border-top: 10px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    border-radius: 50px;
    outline: none;
}
.formDiv input{
    height: 65px;
    vertical-align: bottom;
    width: 83%;
    padding: 0px 30px;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
}
.formDiv select{
    height: 65px;
    vertical-align: bottom;
    padding: 0px 10px;
    margin-left: -5px;
    width: 10%;
    border: none;
    outline: none;
}
.formDiv button{
    height: 65px;
    vertical-align: bottom;
    padding: 20px;
    width: 7%;
    margin-left: -5px;
    border: none;
    outline: none;
    border-radius: 0px 50px 50px 0px;
    background-color: #ebc00f;
}

/* ----------------------------------------- */
.part8{background-color: #0f0f0f;}
.smallcards {
    text-align: center;
    width: 19%;
    margin: 50px 0px;
}
p.whiteP{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
.smallcards p:last-child{margin-bottom: 0px;}
/* --------------------------------------------------- */
.part9{background-color: #1e1e28; padding-top: 20px;}
.bottomlinks a{
    text-decoration: none;
    font-family: 'Lato';
    font-size: 14px;
    color: #525a7b;
    text-transform: uppercase;
    padding-right: 5px;
}
.bottomlinks span{padding: 0px 5px;}
.part9 p{
    font-family: 'Lato';
    font-size: 12px;
    color: #525a7b;
}
span.yellow{color: #ebc00f;}